@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

 a {
	 color: inherit;
	 text-decoration: none;
}
 .panels {
	 display: grid;
	 margin-top: 20px;
	 grid-template-columns: repeat(5 , 1fr);
	 flex-wrap: wrap;
   	 justify-content: center;
	 padding: 0 20em 0 20em;
	 position: relative;
     gap: 1em;
	 margin-bottom: 20px;
   /* width: 100%; */
}
/* .yatin{
	display: grid;
	grid-template-columns: repeat(3 ,1fr) !important;
	width: 80%;
	justify-content: center;
	margin-left: 10%;
} */
 .panels .panelc {
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	 flex-shrink: 0;
	 width: 10em;
	 height: 15em;
	 outline: 0.25em solid rgba(26, 97, 203, 0);
	 transition: 500ms;
	 position: relative;
     /* border-radius: 25px; */
}
.helwu{
	margin-top: 20px;
}
 /* .panels .panel:not(:last-child) {
	 margin-right: 1.5em;
} */
 .panels .panelc .background:after, .panels .panelc .text > * {
	 transition: transform 200ms, opacity 200ms;
}
 .panels .panelc .background {
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center;
	 transition: 100ms;
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
     /* border-radius: 25px ; */
}
 .panels .panelc .background:before, .panels .panelc .background:after {
	 content: '';
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
}
 .panels .panelc .background:before {
	 opacity: 0;
}
 .panels .panelc .background:after {
	 opacity: 0.4;
	 background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(255, 69, 51, 0.6) 70%, rgba(4, 21, 47, 1) 100%);
}
 .panels .panelc .text {
	 cursor: default;
	 position: absolute;
	 left: 1em;
	 right: 1em;
	 bottom: 5px;
     text-shadow: 0px 0px 10px #ffffff;
}
.me{
	bottom : 1px !important;
}
 .panels .panelc .text .location {
	 font-weight: 100;
	 font-size: 1em;
	 margin-bottom: 1em;
     text-shadow: 0px 0px 8px rgb(0, 0, 0);
     background-color: rgba(0, 0, 0, 0.4);
}
 .panels .panelc .text .title {
	 font-weight: 700;
	 font-size: 1em;
	 margin-bottom: 0.35em;
	 color:white;
}
 .panels .panelc .text .author {
	 font-weight: 400;
	 font-size: 0.8em;
	 margin-bottom: 0.35em;
}

.author,.mobile{
	color:white;
}
.panels .panelc .text .mobile {
	font-weight: 200;
	font-size: 0.7em;
	margin-bottom: 0.175em;
	font-weight: 500;
	text-shadow: 0 0 100px rgba(255, 255, 255 , 1), 0 0 30px #000;
}
 .panels .panelc .text .link {
	 display: inline-block;
	 padding: 0.1em 0.2em;
	 background: #FF4533;
	 text-align: center;
	 opacity: 0;
	 border-radius: 5px;
	
}
.panels .panelc .text .link > div {
	padding-left: 2px ;
	padding-right: 2px ;
}
.nahi{
	padding: 0 !important;
}
 .panels .panelc .hover, .panels .panelc:hover {
	 outline: 0.875em solid #FF4533;
	 transition: 300ms;
}
 .panels .panelc .hover .background, .panels .panelc:hover .background {
	 transition: 125ms;
	 top: -0.5em;
	 left: -0.5em;
	 right: -0.5em;
	 bottom: -0.5em;
}
 .panels .panelc .hover .background:after, .panels .panelc:hover .background:after {
	 opacity: 1;
}
 .panels .panelc .hover .text > *, .panels .panelc :hover .text > * {
	 transform: translate3d(0, -3.5rem, 0);
}
 .panels .panelc .hover .text .location, .panels .panelc:hover .text .location {
	 transition-delay: 0ms;
}
 .panels .panelc.hover .text .title, .panels .panelc:hover .text .title {
	 transition-delay: 60ms;
}
 .panels .panelc.hover .text .author, .panels .panelc:hover .text .author {
	 transition-delay: 110ms;
}
.panels .panelc.hover .text .mobile, .panels .panelc:hover .text .mobile {
	transition-delay: 110ms;
}
 .panels .panelc.hover .text .link, .panels .panelc:hover .text .link {
	 opacity: 1;
	 transition-delay: 150ms;
}

.link:hover{
	text-decoration: none;
	color: white !important;
}
.panels .panelc .text .rick {
	display: inline-block;
	padding: 0.05em 0.1em;
	/* background: #1acb20; */
	text-align: center;
	opacity: 0;
	justify-content:center;
	width: 100px;
	height: auto;
	/* : rgb(65, 183, 65); */
	/* box-shadow: 10px 10px 5px rgb(65, 183, 65); */
}
/* filter: drop-shadow(30px 10px 4px #4444dd); */
.panels .panelc.hover .text .rick, .panels .panelc:hover .text .rick {
	opacity: 1;
	transition-delay: 150ms;
}